<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>JavaWebSCL</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>    <!-- 定义了一个Servlet -->
		<servlet-name>name</servlet-name>    <!-- 与servlet-name相对应 -->
		<servlet-class>useBeanDemo.HelloServlet</servlet-class>      <!--定义包.类名称 -->
	</servlet>
	<servlet-mapping>      <!-- 映射路径 -->
		<servlet-name>name</servlet-name>  <!-- 与servlet相对应 -->
		<url-pattern>/HelloServlet</url-pattern>       <!-- 页面的路径 -->
	</servlet-mapping>


</web-app>
